@import "tailwindcss";




@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); } /* 👈 خليها -100% عشان يلف لفة كاملة ويرجع بسلاسة */
}

/* السطر ده بيربط الأنميشن اللي كتبناه فوق بالتايلويند */
.animate-\[marquee_6s_linear_infinite\] {
  animation: marquee 6s linear infinite;
}


html {
  scroll-behavior: smooth;
}

